/*

colors:
    light grey:     #242424
    dark grey:      #2a2a2a
    blue:           rgba(0, 100, 255) || #064ff
*/

* {
    margin: 0;
    padding: 0
}

body,
html {
    background-color: #242424;
    font-family: Impact;
    height: 100%;
    width: 100%
}

h1,
h2 {
    color: #111;
    font-size: 20pt;
    text-align: center;
    text-shadow:0 0 5px #fff, 0 0 7px #fff;
    -webkit-text-stroke: 1px #fff;
}

h2 {
    font-size: 14pt;
}

ul {
    font-size: 20pt;
    text-align: center;
    margin: 0;
    text-shadow:0 0 5px #fff, 0 0 7px #fff;
    -webkit-text-stroke: 1px #fff;
}

.left {
    float: left;
}

.next-slide {
    color: #c31826;
    font-size: 6rem;
    right: 100px;
    opacity: 0;
    position: absolute;
    text-shadow: 7px 7px 14px rgba(0, 0, 0, 0.5);
    top: 25px;
    transition: opacity 750ms ease-in-out;
    text-decoration: none;
    -webkit-text-stroke: 3px #fff;
    width: 0;
}

.next-slide:hover {
    opacity: 1;
}

#canvas {
    background-color: #242424;
}